  GNU nano 5.6.1                                         backup.timer                                                   [Unit]
Description=Timer pour le backup
[Timer]
OnCalendar=hourly
Unit=backup.service

[Install]
WantedBy=timers.target
